{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorías</h1>
    <br />
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <br />
    <a class="btn btn-primary" href="{{ path('category_new') }}">Nueva categoría</a>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.code }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{% if category.active %}Sí{% else %}No{% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_active', { 'id': category.id }) }}">Activar / Desactivar</a>
                    <a class="btn btn-primary" href="{{ path('category_edit', { 'id': category.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
