{% extends 'base.html.twig' %}

{% block header_scripts %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <h1>Productos</h1>
    <hr />
    <a class="btn btn-primary" href="{{ path('product_new') }}">Create a new product</a>
    <br />
    <br />
    <table class="table table-hover" id="products-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% if product.category.active %}
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">Editar</a>
                        <a class="btn btn-danger" href="#" onclick="return prevDelete('{{ product.name }}', '{{ path('product_destroy', { 'id': product.id }) }}');">Eliminar</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer_scripts %}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#products-table').DataTable();
        } );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        function prevDelete(name, route){
            Swal.fire({
                title: '¿Está seguro?',
                text: "Está a punto de borrar el producto " + name + ". Esta es una acción que no podrá revertir si confirma",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Borrar',
                cancelButtonText: 'Cancelar',
                }).then((result) => {
                if (result.value) {
                    window.location.replace(route)
                }
            })
        }        
    </script>
{% endblock %}